html, body {
  height: 100%; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

iframe {
  max-width: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.color-fondo {
  background-color: #343a40; }

.estilo-btn {
  width: 41px;
  height: 25px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px; }

.header-top {
  padding-top: 17%; }

#fondoIndex {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #ec94de, #b1bcec);
  background: linear-gradient(to right, #ec94de, #b1bcec);
  min-height: 100vh; }

.seccion-index .box3 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative; }

.seccion-index .box3 .box-content, .seccion-index .box3:after, .seccion-index .box3:before {
  position: absolute;
  left: 7%;
  right: 7%;
  transition: all .3s; }

.seccion-index .box3:after, .seccion-index .box3:before {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  top: 10%;
  bottom: 10%;
  z-index: 1;
  transform: scale(0, 1); }

.seccion-index .box3:after {
  top: 10.8%;
  bottom: 10.8%;
  transform: scale(1, 0); }

.seccion-index .box3:hover:after, .seccion-index .box3:hover:before {
  transform: scale(1);
  animation: animate 1.5s; }

.seccion-index .box3:hover:before {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff; }

.seccion-index .box:hover:after {
  border-left: 3px solid #fff;
  border-right: 3px solid #fff; }

.seccion-index .box img {
  width: 100%;
  height: auto;
  transition: all .3s; }

.seccion-index .box3:hover img {
  transform: scale(1.2);
  filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px); }

.seccion-index .box3 .box-content {
  top: 10%;
  bottom: 10%;
  opacity: 0;
  z-index: 2; }

.seccion-index .box3:hover .box-content {
  box-shadow: 0 0 0 35px rgba(255, 255, 255, 0.3);
  opacity: 1;
  transition: all .3s; }

.seccion-index .box3 .post {
  display: block;
  margin: 0 0 5px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8); }

.seccion-index .fuente {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 25px; }

.seccion-index .nuestro-espacio .box3 .description {
  font-size: 14px;
  color: #464444;
  margin: 0 0 20px; }

.seccion-index .nuestro-espacio .box3 .title {
  font-size: 24px;
  font-weight: 600;
  color: #7257a5;
  margin: 0 0 5px; }

.seccion-index .entrenamiento .box3 .title {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin: 0 0 5px; }

.seccion-index .entrenamiento .box3 .description {
  font-size: 14px;
  color: white;
  margin: 0 0 20px; }

.seccion-index .box3 .icon {
  padding: 0;
  margin: 0;
  list-style: none; }

.seccion-index .box3 .icon li {
  display: inline-block;
  margin: 0 10px 0 0; }

.seccion-index .box3 .icon li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #88c425;
  transition: all .5s; }

.seccion-index .box3 .icon a:hover {
  text-decoration: none;
  animation: animate-hover .5s;
  transition: all .3s; }

@keyframes animate {
  0%, 100% {
    opacity: 1; } }

@keyframes animate-hover {
  0% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3); }
  50% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3); } }

.seccion-index .box10, .seccion-index .box11, .seccion-index .box12, .seccion-index .box14, .seccion-index .box4, .seccion-index .box5, .seccion-index .box6, .seccion-index .box7, .seccion-index .box9 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 990px) {
  .seccion-index .box3 {
    margin-bottom: 30px; }
  .seccion-index .box3 .box-content {
    padding: 10px; }
  .seccion-index .box3 .description {
    margin-bottom: 10px; } }

@media only screen and (max-width: 479px) {
  .seccion-index .box3 .title {
    margin: 0; } }

.generic-anchor {
  color: #8DB9ED; }
  .generic-anchor:visited {
    color: #8DB9ED; }
  .generic-anchor:hover {
    color: #ccc; }

.flex-rw {
  display: flex;
  flex-flow: row wrap; }

footer {
  background: #373737;
  margin-top: auto;
  width: 100%; }

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px; }

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px); }

#color-footer {
  color: #9daab7; }

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #373737;
  padding: 0 20px; }

.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif; }

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px; }

.footer-social-overlap > a {
  font-size: 3em; }

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em; }

#fondoServis {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #2d336d, #b1bcec);
  background: linear-gradient(to right, #2d336d, #b1bcec);
  min-height: 100vh; }

.servis {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-family: 'Lato', sans-serif; }
  .servis iframe {
    padding-top: 3px; }
  .servis a {
    color: white; }
  .servis .marg {
    margin-top: 20%; }
  .servis .fd {
    border: outset 5px #900d0d; }
    .servis .fd img {
      width: 130px;
      padding-top: 5px; }
  .servis .x55 {
    border: outset 5px #6f4a8e; }
    .servis .x55 img {
      width: 70px;
      padding-top: 5px;
      padding-bottom: 5px; }
  .servis .gap {
    border: outset 5px #206a5d; }
    .servis .gap h2 {
      color: #75bf86;
      margin-bottom: 3px; }
    .servis .gap p a {
      margin-top: 60px; }
  .servis .gap-imag {
    margin-top: 4px;
    margin-bottom: 4px; }
  .servis .funcional {
    border: outset 5px #900d0d;
    margin-bottom: 3px;
    padding-right: 15px;
    padding-left: 15px; }
    .servis .funcional h3 {
      color: #461212;
      font-size: 20px; }
  .servis .func-imag {
    margin-top: 3px; }
  .servis .consc {
    border: outset 5px #7fdbda;
    margin-bottom: 3px;
    padding-right: 15px;
    padding-left: 15px; }
    .servis .consc h3 {
      color: #40cece; }
  .servis .cons-imag {
    margin-top: 5px;
    margin-bottom: 5px; }
  .servis .margen-cons {
    margin-bottom: 4px; }

#fondo {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #b1bcec);
  background: linear-gradient(to right, #e8cbc0, #b1bcec);
  min-height: 100vh; }

.how-section1 {
  padding: 10%; }
  .how-section1 .titulo {
    color: #4d2892;
    font-weight: bold;
    font-size: 30px; }
  .how-section1 .subheading {
    color: #6a2c70;
    font-size: 20px; }
  .how-section1 .row {
    margin-top: 10%; }

.how-img {
  text-align: center; }
  .how-img img {
    width: 70%; }

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem; }

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555; }

.galeria {
  margin-left: 5px;
  margin-right: 5px; }

@media (min-width: 48em) {
  .logo-zonafit {
    width: 250px; }
  .secciones {
    padding-right: 10%; }
  .items li a {
    font-size: 18px; }
  .header-top {
    padding-top: 5%; }
  .size-letter {
    font-size: 25px; }
  .margen {
    margin-top: 25px; }
  .seccion-index .forma-padding {
    margin-bottom: 15px;
    margin-top: 25px; }
  .seccion-index .fuente {
    font-size: 40px; }
  .servis {
    font-size: 16px; }
    .servis .marg {
      margin-top: 10%; }
  .x55 {
    margin-top: 4px; }
  .gap {
    margin-top: 4px; }
  .funcional {
    margin-top: 4px; }
    .funcional h3 {
      font-size: 30px; }
  .consc {
    margin-top: 4px; }
  .how-section1 {
    padding-top: 0px; } }

@media only screen and (max-width: 768px) {
  .footer-social-connect {
    font-size: 2.5em; }
  .footer-social-overlap > a {
    font-size: 2.24em; } }

@media only screen and (max-width: 568px) {
  .footer-social-section {
    justify-content: center; }
  .footer-social-section::after {
    top: 25%; }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px; }
  .footer-social-overlap {
    display: flex;
    justify-content: center; }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0; }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px; } }

@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto; }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0; } }

@media only screen and (max-width: 320px) {
  .footer-social-connect {
    font-size: 2.4em; }
  .footer-social-overlap > a {
    font-size: 2.24em; } }
