html, body{
	height: 100%;
}
body{
	margin: 0;
	width: 100%;
	height: 100%;
  	display: flex;
  	flex-flow: column nowrap;
}
* {
	box-sizing: border-box
  }
img {
	max-width: 100%;
}
iframe {
	max-width: 100%;
}
ul {
	list-style: none;
  }
a {
	text-decoration: none;
  }
$primary-light-blue: #8DB9ED;
$primary-line-color: #ccc;
.color-fondo{
	background-color: #343a40;
}
.estilo-btn {
	width: 41px;
	height: 25px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
}
//encabezado
.header-top {
	padding-top: 17%;
}
//seccion-index
#fondoIndex {
	background: #e8cbc0;
	background: -webkit-linear-gradient(to right, #ec94de, #b1bcec);
	background: linear-gradient(to right,  #ec94de, #b1bcec);
	min-height: 100vh;
}
.seccion-index {
	.box3{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
	.box3 .box-content,.box3:after,.box3:before{position:absolute;left:7%;right:7%;transition:all .3s}
	.box3:after,.box3:before{display:block;background:rgba(0,0,0,.3);top:10%;bottom:10%;z-index:1;transform:scale(0,1)}
	.box3:after{top:10.8%;bottom:10.8%;transform:scale(1,0)}
	.box3:hover:after,.box3:hover:before{transform:scale(1);animation:animate 1.5s}
	.box3:hover:before{border-top:3px solid #fff;border-bottom:3px solid #fff}
	.box:hover:after{border-left:3px solid #fff;border-right:3px solid #fff}
	.box img{width:100%;height:auto;transition:all .3s}
	.box3:hover img{transform:scale(1.2);filter:blur(5px);-moz-filter:blur(5px);-webkit-filter:blur(5px)}
	.box3 .box-content{top:10%;bottom:10%;opacity:0;z-index:2}
	.box3:hover .box-content{box-shadow:0 0 0 35px rgba(255,255,255,.3);opacity:1;transition:all .3s}
	.box3 .post{display:block;margin:0 0 5px;font-size:14px;color:rgba(255,255,255,.8)}
	.fuente{
		font-family: 'Lexend Giga', sans-serif;
		font-size: 25px;
	}
	.nuestro-espacio{
		.box3{
			.description{font-size:14px;color:#464444;margin:0 0 20px}
			.title{font-size:24px;font-weight:600;color:#7257a5;margin:0 0 5px}
		}
	} 
	.entrenamiento{
		.box3{
			.title{font-size:24px;font-weight:600;color:white;margin:0 0 5px}
			.description{font-size:14px;color: white;margin:0 0 20px}
		}
	}
	.box3 .icon{padding:0;margin:0;list-style:none}
	.box3 .icon li{display:inline-block;margin:0 10px 0 0}
	.box3 .icon li a{display:block;width:30px;height:30px;line-height:30px;color:#fff;background:#88c425;transition:all .5s}
	.box3 .icon a:hover{text-decoration:none;animation:animate-hover .5s;transition:all .3s}
	@keyframes animate{0%,100%{opacity:1}
	}
	@keyframes animate-hover{0%{box-shadow:0 0 0 10px rgba(255,255,255,.3)}
	50%{box-shadow:0 0 0 5px rgba(255,255,255,.3)}
	100%{box-shadow:0 0 0 0 rgba(255,255,255,.3)}
	}
	.box10,.box11,.box12,.box14,.box4,.box5,.box6,.box7,.box9{box-shadow:0 0 3px rgba(0,0,0,.3)}
	}
@media only screen and (max-width:990px){
	.seccion-index {
		.box3{margin-bottom:30px}
		.box3 .box-content{padding:10px}
		.box3 .description{margin-bottom:10px}
	}	
}
@media only screen and (max-width:479px){
	.seccion-index {
		.box3 .title{margin:0}
	}
}
//footer//
.generic-anchor {
	color: $primary-light-blue;
	&:visited {
		color: $primary-light-blue
	}
	&:hover {
		color: $primary-line-color
	}
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}
footer {
	background: rgb(55,55,55);
	margin-top: auto;
	width: 100%
  }
  .footer-social-section {
	width: 100%;
	align-items: center;
	justify-content: space-around;
	position: relative;
	margin-top: 5px;
  }
  .footer-social-section::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 10px;
	border-top: 1px solid $primary-line-color;
	width: calc(100% - 20px)
  }
  #color-footer{
	color: #9daab7;
  }
  .footer-social-overlap {
	position: relative;
	z-index: 2;
	background: rgb(55,55,55);
	padding: 0 20px
  }
  .footer-social-connect {
	display: flex;
	align-items: center;
	font: 3.5em "Oswald", sans-serif;
  }
  .footer-social-small {
	font-size: 0.6em;
	padding: 0px 20px
  }
  .footer-social-overlap > a {
	font-size: 3em
  }
  .footer-social-overlap > a:not(:first-child) {
	margin-left: 0.38em
  }
//servicios//
#fondoServis {
	background: #e8cbc0;
	background: -webkit-linear-gradient(to right, #2d336d, #b1bcec);
	background: linear-gradient(to right,  #2d336d, #b1bcec);
	min-height: 100vh;
}
.servis {
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	iframe {
		padding-top: 3px;
	}
	a{
		color: white;
	}
	.marg {
		margin-top: 20%;
	}
	.fd {
		border: outset 5px #900d0d;
		img{
			width: 130px;
			padding-top: 5px;
		}
	}
	.x55 {
		border: outset 5px #6f4a8e; 
		img{
			width: 70px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	.gap {
		border: outset 5px #206a5d;
		h2 {
			color: #75bf86;
			margin-bottom: 3px;
		}
		p{
			a{
				margin-top: 60px;
			}
			
		}
	}
	.gap-imag{
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.funcional {
		border: outset 5px #900d0d;
		margin-bottom: 3px;
		padding-right: 15px;
		padding-left: 15px;
		h3 {
			color: rgb(70, 18, 18);
			font-size: 20px;
		}
	}
	.func-imag{
		margin-top: 3px;
	}
	.consc {
		border: outset 5px #7fdbda;
		margin-bottom: 3px;
		padding-right: 15px;
		padding-left: 15px;
		h3{
			color: #40cece;
		}
	}
	.cons-imag{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.margen-cons {
		margin-bottom: 4px;
	}
}
//nosotros//
#fondo{
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #b1bcec);
    background: linear-gradient(to right, #e8cbc0, #b1bcec);
    min-height: 100vh;
}
.how-section1{
	padding: 10%;
	.titulo{
		color: #4d2892;
		font-weight: bold;
		font-size: 30px;

	}
	.subheading{
		color: #6a2c70;
		font-size: 20px;
	}
	.row{
    	margin-top: 10%;
	}
}
.how-img {
	text-align: center;
	img{
		width: 70%;
	}
}
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}
.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
.galeria{
	margin-left: 5px;
	margin-right: 5px;
}


@media (min-width: 48em) {  
	.logo-zonafit {
		width: 250px;
	}
	.secciones {
		padding-right: 10%;
	}
	.items {
		li {
			a{
				font-size: 18px;
			}
		}
	}
	.header-top {
		padding-top: 5%;
	}
  	.size-letter {
		  font-size: 25px;
	  }
	.margen {
		margin-top: 25px;
	}
	.seccion-index{
		.forma-padding{
			margin-bottom: 15px;
			margin-top: 25px;
		}
		.fuente{
			font-size: 40px;
		}
	}
	.servis{
		font-size: 16px;
		.marg{
			margin-top: 10%;
		}
	}
	.x55{
		margin-top: 4px;
	}
	.gap{
		margin-top: 4px;
	}
	.funcional{
		margin-top: 4px;
		h3{
			font-size: 30px;
		}
	}
	.consc{
		margin-top: 4px;
	}
	.how-section1{
		padding-top: 0px;
	}
}
//respon//
@media only screen and (max-width: 768px) {
	.footer-social-connect {
	  font-size: 2.5em
	}
	.footer-social-overlap > a {
	  font-size: 2.24em
	}
  }
  @media only screen and (max-width: 568px) {
	.footer-social-section {
	  justify-content: center
	}
	.footer-social-section::after {
	  top: 25%
	}
	.footer-social-connect {
	  margin-bottom: 10px;
	  padding: 0 10px
	}
	.footer-social-overlap {
	  display: flex;
	  justify-content: center;
	}
	.footer-social-icons-wrapper {
	  width: 100%;
	  padding: 0
	}
	.footer-social-overlap > a:not(:first-child) {
	  margin-left: 20px;
	}
  }
  @media only screen and (max-width: 480px) {
	.footer-social-overlap > a {
	  margin: auto
	}
	.footer-social-overlap > a:not(:first-child) {
	  margin-left: 0;
	}
  }
  @media only screen and (max-width: 320px) {
	.footer-social-connect {
	  font-size: 2.4em
	}
	.footer-social-overlap > a {
	  font-size: 2.24em
	}
  }
